# ETL Project

### 1) Extract

- Kaggle: Netflix content https://www.kaggle.com/shivamb/netflix-shows
    - Data format: CSV
    - Initial columns: title, type, director, cast, country, date_added, release_year, rating, duration, listed_in

- IMDB: Netflix Original Series (ranked) 
    - https://www.imdb.com/list/ls063868333/
    - Scrape → DataFrame → CSV
        - BeautifulSoup, Splinter
    - Data scraped: title, year, rating
        - Rating = x/10

<img src="IMDB/imdb.jpg">

- Rotten Tomatoes: 250 Best Movies on Netflix Right Now (May 2020) 
    - https://editorial.rottentomatoes.com/guide/best-netflix-movies-to-watch-right-now/
    - Scrape → DataFrame → CSV
        - BeautifulSoup, Splinter
    - Data scraped: rank, title, rating
        - Rating = %

<img src="Rottentomatoes/RottenTomatoes.jpg">

- Challenges
    - RT + IMDB: looping through pages

# Transform

- Kaggle: Netflix content
    - Turn CSV into dataframe
    - Choose necessary columns (df.Title, type, director, cast, country, release_year, date_added, rating, genre
    - Drop duplicates
    - Inner merge with IMDB and RT to include only the shows/movies with ratings
   
   
- IMDB: Netflix OG series https://www.imdb.com/list/ls063868333/
    - Merge with RT scores


- Rotten Tomatoes: Netflix movies https://editorial.rottentomatoes.com/guide/best-netflix-movies-to-watch-right-now/
    - Change scores to be out of 10
    - Merge with IMDB scores

In [11]:
# Dependencies
import pandas as pd

# Read in Kaggle dataset
netflix_all = pd.read_csv('All_Netflix/netflix_titles.csv')

netflix_all = netflix_all[["title", "type", "director", "cast", "country", "release_year", "date_added", "rating", "listed_in"]].copy()

netflix_all = netflix_all.rename(columns={"listed_in": "genre",
                                         "rating": "viewer_rating"})
netflix_all.drop_duplicates("title", inplace=True)

# Read in Rotten Tomatoes CSV
RT=pd.read_csv("Rottentomatoes/rottentomatoes.csv")
RT=RT[["title", "rating"]].copy()

# Read in IMDB CSV
IMDB=pd.read_csv("IMDB/show.csv")
IMDB=IMDB[["title", "rating"]].copy()

# Merge the two dataframes
merged = pd.merge(RT, IMDB, how="outer")
merged.drop_duplicates("title", inplace=True)
merged.to_csv("imdb_rtom.csv", header=True)

anotha_one=pd.merge(merged, netflix_all, on="title", how="inner")

netflix_all=anotha_one[["title", "type", "director", "cast", "country", "release_year", "date_added", "viewer_rating", "genre"]].copy()
netflix_all.head()

,title,type,director,cast,country,release_year,date_added,viewer_rating,genre
0,Stripes,Movie,Ivan Reitman,"Bill Murray, Harold Ramis, Warren Oates, P.J. ...",United States,1981,"September 1, 2019",R,"Classic Movies, Comedies, Cult Movies"
1,All About Nina,Movie,Eva Vives,"Mary Elizabeth Winstead, Common, Kate del Cast...",United States,2018,"March 18, 2019",R,"Comedies, Dramas, Independent Movies"
2,The Boy Who Harnessed the Wind,Movie,Chiwetel Ejiofor,"Maxwell Simba, Chiwetel Ejiofor, Aïssa Maïga, ...","United Kingdom, Malawi",2019,"March 1, 2019",TV-14,"Children & Family Movies, Dramas, Independent ..."
3,The Autopsy of Jane Doe,Movie,André Øvredal,"Emile Hirsch, Brian Cox, Ophelia Lovibond, Mic...","United Kingdom, United States",2016,"December 30, 2018",R,"Horror Movies, Independent Movies, Thrillers"
4,Junebug,Movie,Phil Morrison,"Amy Adams, Embeth Davidtz, Ben McKenzie, Aless...",United States,2005,"March 1, 2019",R,"Comedies, Dramas, Independent Movies"

- Challenges:
    - Scores are not consistent across websites
    - Duplicates wouldn't drop

# Load

- Final database: Google Cloud Platform
    - Left join to include ratings for all the titles
    - Drop duplicates again
    - API flask app


- Tables/collections
    - all_netflix_data: table with shows/movies available on netflix, including their directors, cast, country of origin, 


- Why this was chosen (what can be done with this database)


- Challenges
    - Tried union to merge IMDB + RT, but couldn’t create a new table “name”
    - Ended up merging in python
    - Api flask app struggles
    - Specifically, class = Base.classes.class wouldn’t work (key error), decided to follow the homework and create a dictionary from a scrape function to serve on a flask site